@import "tailwindcss";

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-VariableFont_wght.woff2') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --color-primary: #0976E2;
    /* --color-secondary: #603CFF;
    --color-accent: #FF5900;
    --color-complementary: #90FFE7;
    --color-neutral: #90FFE7;
    --color-black: #1A202C;
    --color-gray-light: #EFEFEF; */
    
    /* Ubuntu Font Family - Forzar como fuente principal */
    /* --font-family-sans: "Outfit", "Outfit", ui-sans-serif, system-ui, sans-serif; */
    
    /* Font Weights */
    /* --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700; */
}

body {
    font-family: 'Outfit', sans-serif;
}
